<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fetch demo</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="scripts/cdn.min.js"></script>
    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!--fetch polyfill-->
    <script src="lib/fetchpolyfill.js"></script>
    <!-- besTemplate -->
    <script src="scripts/besTemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/besTemplate.css">
    <!-- customer script style -->
    <style type="text/css">
    #app {
        padding: 10px;
    }

    .flex {
        align-items: flex-start;
        display: flex;
        margin-bottom: 10px;
    }

    .flex-col {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .pool {
        width: 150px;
        text-align: center;
    }

    .box {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    input {
        text-align: center;
    }
    </style>
</head>

<body>
    <div id="app">
        <h3>BesAjaxRequest</h3>
        <div class="flex" style="flex-wrap: wrap;">
            <div class="flex-col">
                <label>delay,primary 0</label>
                <ajax-btn class="btn btn-primary" text="send" :bes_ajax="delayRequest" :style="{backgroundColor:delayRequest.options.color}"></ajax-btn>
            </div>
            <div class="flex-col">
                <label>delay post,primary 0</label>
                <ajax-btn class="btn btn-primary" text="send" :bes_ajax="postRequest" :style="{backgroundColor:postRequest.options.color}"></ajax-btn>
            </div>
            <div class="flex-col">
                <label>instant,primary 1</label>
                <ajax-btn class="btn btn-primary" text="send" :bes_ajax="instantRequest" :style="{backgroundColor:instantRequest.options.color}"></ajax-btn>
            </div>
            <div class="flex-col">
                <label>instant2,primary 5</label>
                <ajax-btn class="btn btn-primary" text="send" :bes_ajax="instantRequest2" :style="{backgroundColor:instantRequest2.options.color}"></ajax-btn>
            </div>
            <div class="flex-col">
                <label>send 10 badRequest</label>
                <button class="btn btn-primary" onclick="sendBadRequest()" style="background-color: red">send</button>
            </div>
        </div>
        <div class="flex">
            <div class="contain-box flex-col pool">
                <h4>pool size</h4>
                <input type="text" v-model="controll.poolSize">
            </div>
            <div class="contain-box flex-col pool">
                <h4>exePool</h4>
                <div class="box" v-for="t in exePool" :style="{backgroundColor : t.options.color}">{{t.options.name}}</div>
            </div>
            <div class="contain-box flex-col pool">
                <h4>waitingPool</h4>
                <div class="box" v-for="t in waitingPool" :style="{backgroundColor : t.options.color}">{{t.options.name}}</div>
            </div>
            <div class="contain-box flex-col">
                <h4>results ( 30 lines ):</h4>
                <div v-for="r in results">{{r}}</div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    /*  BesAjaxRequest(options)
        @params options: object 
        這些是default值
    */
    const besAjax = BesAjaxRequest({
        log : false,
        resolveFirst: false,
        poolSize: 5,
    });
    /*也可之後再做設定*/
    besAjax.log = true;
    besAjax.resolveFirst = false;
    besAjax.poolSize = 5;
    /*產生一個root request*/
    const defaultRequest = besAjax.createRequest({//第一個option是request的參數
        host: 'http://127.0.0.1:3000' 
    }, {//第二個option是處理request的設定 ex: timeout   這裡的color只是我做demo用, 非模組內的參數
        responseType: 'text',
        primary: 5,
        timeout: 4000,
        color:'lightgray',
    })
    //每個request可以有自己的onsucces, onerror functions, child request也會繼承到
    defaultRequest.onsuccess = function(res){
        console.log('%c request success :) '+res,'font-size:large;font-weight:bold');
    }
     defaultRequest.onerror = function(err){
        console.log('%c request failed :( '+err,'font-size:large;font-weight:bold;color:red');
    }
    /*之後便可以根據先前的request繼承產生不同的新的request*/
    const badRequest = defaultRequest.extend({
        path: 'api/fatal'
    }, {
        retry: 5,
        sleep: 500,
        //expofn: function(x,a){let y=a+(x)*100; return (y>3000)?3000:y;},
        color:'red',
    })
    const delayRequest = defaultRequest.extend({
        path: 'api/delay'
    }, {
        name: 'delayRequest',//取名字, 在log或是debug時候就能知道是哪一個request
        primary: 0,//優先順序 0 最優先
        color: 'rgba(0,0,255,0.7)',
    })
    const instantRequest = defaultRequest.extend({
        path: 'api'
    }, {
        name: 'instantRequest',
        primary: 1,
        responseType: 'json'//處理response的方式：response回來是一個body物件，用text, json, blob等等方式處理(詳見fetch的response物件)
    })

    const app = new Vue({
        el: '#app',
        data: {
            results: [],
            exePool: [],
            waitingPool: [],
            controll : besAjax,
            delayRequest: delayRequest,
            postRequest: delayRequest.extend({
                method: 'post',
                body: JSON.stringify({ "name": "postRequest" }),
                headers: { 'Content-Type': 'application/json' }
            }, {
                name: 'postRequest',
                primary: 0
            }),
            instantRequest: instantRequest,
            instantRequest2: instantRequest.extend({}, { name: 'instantRequest2', primary: 5, responseType: 'text' })
        }
    })

    //這個是global的success, error handle function, 所有besAjax產生的request都套用
    besAjax.successHandler = function(res, name) {
        app.results.unshift(`[${name} done]: response: ${res}`)
        if (app.results.length > 30)
            app.results.pop()
    }
    besAjax.errorHandler = function(e, name) {
        app.results.unshift(`[${name} fail]: error: ${e}`)
        if (app.results.length > 30)
            app.results.pop()
    }
    //on pool, pool發生變化時，也是為了demo平常應該不太會用到
    besAjax.taskPool.on('pool', function() {
        app.exePool = besAjax.taskPool.exePool;
        app.waitingPool = besAjax.taskPool.waitingPool
    })

    function sendBadRequest() {
        for (let i = 0; i < 15; i++) {
            badRequest.extend({ query: `index=${i}` }, { name: `badRequest${i}` }).send()
                .then(function(res) {})
                .catch(function(e) {})
        }
    }
    sendBadRequest();
    for(let i=0;i<5;i++){
        delayRequest.extend({query:'i='+i},{primary:4,name:'delayRequest5',color: 'rgba(0,0,255,0.2)',}).send()
    }
    setTimeout(function(){
        for(let i=0;i<5;i++){
            delayRequest.extend({path:'api/delay2',query:'i='+i},{primary:0,name:'delayRequest0'}).send()
        }
    },100)
    
    </script>
</body>

</html>