<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="scripts/ajaxHandler.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- besTemplate -->
    <script src="scripts/besTemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/besTemplate.css">
    <!-- customer script style -->
    <link rel="stylesheet" type="text/css" href="demo.css">
    <style type="text/css">
    .flex {
        align-items: flex-start;
        display: flex;
    }

    .flex-col {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contain-box {}

    .box {
        width: 150px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <div id="app">
        <h3>BesAjaxRequest</h3>
        <div class="flex">
            <ajax-btn class="btn btn-primary flex-col" text="delay,primary 0" :bes_ajax="delayRequest"></ajax-btn>
            <ajax-btn class="btn btn-primary flex-col" text="delay post,primary 0" :bes_ajax="postRequest"></ajax-btn>
            <ajax-btn class="btn btn-primary flex-col" text="instant,primary 1" :bes_ajax="instantRequest"></ajax-btn>
            <ajax-btn class="btn btn-primary flex-col" text="instant2,primary 5" :bes_ajax="instantRequest2"></ajax-btn>
            <button class="btn btn-primary flex-col" onclick="sendBadRequest()">send 10 badRequest</button>
        </div>
        <div class="flex">
            <div class="contain-box flex-col" style="width: 150px;">
                <h4>exePool</h4>
                <div class="box" style="background-color: lightgreen;" v-for="t in exePool">{{t.options.name}}</div>
            </div>
            <div class="contain-box flex-col" style="width: 150px;">
                <h4>waitingPool</h4>
                <div class="box" style="background-color: lightblue;" v-for="t in waitingPool">{{t.options.name}}</div>
            </div>
            <div class="contain-box flex-col">
                <h4>results:</h4>
                <div v-for="r in results">{{r}}</div>
            </div>
        </div>
        <!--  <ajax-btn class="btn btn-primary" text="hello" :bes_ajax="besAjax" v-model="result" v-on:send="reqHandeler" :fetch_options="{path:'/api/fatal',headers:{costom:'myheader'}}"></ajax-btn>
        <ajax-btn class="btn btn-primary" text="VIP" text_success="VIP" :bes_ajax="quickAjax" v-model="result" v-on:send="reqHandeler" :fetch_options="{path:'/api'}" :options="{name:'VIP insert'}"></ajax-btn> -->
    </div>
    <script type="text/javascript">
    const besAjax = BesAjaxRequest()
    besAjax.log = true;
    besAjax.poolSize = 5;
    const defaultRequest = besAjax.createRequest({
        host: 'http://127.0.0.1:3000'
    }, {
        responseType: 'text',
        primary: 5
    })

    const badRequest = defaultRequest.extend({
        path: '/api/fatal'
    }, {
        retry: 5,
        sleep: 500
    })
    const delayRequest = defaultRequest.extend({
        path: '/api/delay'
    }, {
        name: 'delayRequest',
        primary: 0
    })
    const instantRequest = defaultRequest.extend({
        path: '/api'
    }, {
        name: 'instantRequest',
        primary: 1
    })

    const app = new Vue({
        el: '#app',
        data: {
            results: [],
            exePool: [],
            waitingPool: [],
            delayRequest: delayRequest,
            postRequest: delayRequest.extend({ method: 'post', body: JSON.stringify({ "name": "postRequest" }), headers: { 'Content-Type': 'application/json' } }, { name: 'postRequest', primary: 0 }),
            instantRequest: instantRequest,
            instantRequest2: instantRequest.extend({}, { name: 'instantRequest2', primary: 5 })
        }
    })
    besAjax.successHandler = function(res, name) {
        app.results.unshift(`[${name} done]. response: ${res}`)
    }
    besAjax.errorHandler = function(e, name) {
        app.results.unshift(`[${name} fail]. error: ${e}`)
    }
    besAjax.taskPool.on('pool', function() {
        app.exePool = besAjax.taskPool.exePool;
        app.waitingPool = besAjax.taskPool.waitingPool
    })

    function sendBadRequest() {
        for (let i = 0; i < 15; i++) {
            badRequest.extend({ query: `?index=${i}` }, { name: `badRequest${i}` }).send()
                .then(function(res) {})
                .catch(function(e) {})
        }
    }
    sendBadRequest();
    </script>
</body>

</html>