<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lazy</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
    <script src="scripts/lazyLoad.js"></script>
    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!--fetch polyfill-->
    <script src="lib/fetch.js"></script>
    <!-- besTemplate -->
    <script src="scripts/besTemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/besTemplate.css">
    <style type="text/css">
    body{
    	height: 5000px;
    }
    	#app{
    		position: relative;
            display: flex;
    	}
    	.img-container{
    		width: 25%;
    		border: 1px solid black;
    	}
        .col {
            width: 100%;
        }
    	.img-container img{
    		width: 100%;
    	}
        .text{
            padding: 20px 5px 20px 5px;
        }
        h5{
          font-weight: bold;font-size: large;  
        }
    </style>
</body>
    <header style="padding: 20px">
        <h5>lazyLoad</h5>
        <p>Call lazyLoad() after DOM rendered</p>
    </header>
	<div id="app">
		<div v-for="index in 4" class="img-container">
            <div v-for="i in 72" class="col">
                <img class="lazy-load" :lazy-src="'/assets/gallery/'+((i+index)%4+1)+'.jpg?nocache=1;i='+i" alt="">
                <div class="text">
                    <h5>Title</h5>
                    <p>Some text about the picture.</p>
                    <a>link</a>
                </div>
            </div>
		</div>
	</div>
	<script type="text/javascript">
		var vue = new Vue({
			el:'#app',
			data:{
				num : 50
			}
		})
		lazyLoad({
            offset: -20,
            lazyTop: true,
            loadingSrc : "/assets/gallery/loading.gif",
            errorSrc : "/assets/gallery/error.jpg",
        })
	</script>
</html>